// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #0b834e;
$brand-second:			#dcb343;
$background-color: 		#fff;
$font-size-base: 		20px;

// Fonts 

$display-font: 			'Hammersmith One', sans-serif;
$body-font:				'Lato', sans-serif;
$alt-font: 				$body-font;
$line-height-base: 1.6;

//Buttons

$btn-border-radius-base:0px;
$btn-border-radius-large:0px;
$btn-border-radius-small:0px;

